{% extends 'base.html.twig' %}

{% block title %}O mnie{% endblock %}

{% block body %}
<section>
	<div class="about_item row mb-5 mt-5">

		<div class="about_desc col-md-7 offset-1">
			<header>
				<h3 class="mt-3">Doświadczenie</h3></br>
			</header>
			<article>
				<p class="pe-5"> Programowanie to moja pasja, która rozkwitła podczas stażu w firmie BiznesPort w Szczecinie, gdzie miałem okazję tworzyć i edytować strony internetowe w oparciu o platformę WordPress. Po zakończeniu stażu, skoncentrowałem się na rozwijaniu umiejętności w Symfony. Opinia ze stażu w BiznesPort była dla mnie motywacją do samodzielnego eksplorowania nowych obszarów programowania. Ta wizytówka jest moim pierwszym poważnym projektem opartym na Symfony, gdzie mogę wykorzystać zdobytą wiedzę i doświadczenie, aby dostarczyć najlepsze rozwiązania dla moich klientów.</p>
			</article>
		</div>

		<div class="about_img_container col-md-4">
			<img class="about_img " src="https://cdn.leonardo.ai/users/94e43b53-9c11-4633-a9e8-b8e3a3f3f478/generations/c0dc4648-d802-4008-84ef-ec8dba35baea/Default_papers_documents_desk_dark_0.jpg"></img>
		</div>
	</div>
<section>

<section>
	<div class="about_item row mb-5">

		<div class="about_img_container col-md-4">
			<img class="about_img " src="https://cdn.leonardo.ai/users/94e43b53-9c11-4633-a9e8-b8e3a3f3f478/generations/c0dc4648-d802-4008-84ef-ec8dba35baea/Default_papers_documents_desk_dark_0.jpg"></img>
		</div>

		<div class="about_desc col-md-7 offset-1">
			<header>
				<h3 class="mt-3">Edukacja</h3></br>
			</header>
			<article>
				<p class="pe-5">Już od dawna nurtowała mnie pasja do programowania. Studiując informatykę na Uniwersytecie Radomskim, kontynuuję rozwój swoich umiejętności. To wspaniałe środowisko akademickie stwarza mi możliwość pogłębiania wiedzy i eksplorowania nowych obszarów w dziedzinie tworzenia oprogramowania. Ta fascynująca podróż przez świat informatyki stała się moją motywacją do poszukiwania nowych wyzwań w dziedzinie web developmentu.</p>
			</article>
		</div>
	</div>
</section>
{% endblock %}