body {
    background-color: #1E2021;
}
.button{
    opacity: 0.8;
}

.button:hover{
    opacity: 1;
}

p {
    color:#959799;
}

h6{
    color:#959799;
}

h3{
    color:#959799;
}

.baner-p{
    font-size: large;
}

a{
    text-decoration: none;
}