{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}
<div id="contact-container">
    <section>
        <div class="col-12" id="contact_page_img" style="background-image: url('{{asset("build/images/konkatk.2d4f39d0.jpeg")}}');">
            <header>
                <h2 class="d-flex aligcin-items-center justify-content-center pt-3 pb-3" style="color:darkgreen">Twój rozwój online zaczyna się od jednego telefonu!</h2>
            </header>
            <article>
                <p class="baner-p pt-4">Jestem gotowy, by pomóc Ci w realizacji Twoich celów online.</p>
                <p class="baner-p pb-2">Zadzwoń do mnie, a wspólnie stworzymy strategię dopasowaną do Twoich potrzeb i oczekiwań</p>
            </article>
        </div>
    </section>
    <section>
        <div id="contact_data" class=" contact_border mt-5 mb-5 ">
            <div class="contact_border m-3 ps-4 pe-4 pt-3 pb-3">
                <article>
                    <h3>Email: </h3><p class="ps-3">JakubRynio@protonmail.com</p>
                    <h3>Telefon: </h3><p class="ps-3">518 491 531</p>
                </article>
            </div>
            <div class="contact_border m-3 ps-4 pe-4 pt-3 pb-3">
                <article>
                    <h3>Poszukujesz nowych talentów?</h3><p class="ps-3">Przejrzyj moje CV poniżej.</p>
                    <a class="d-flex aligcin-items-center justify-content-center button" href="https://github.com/Jakub-Rynio" ; target="_blank">
                        <h5 id="heaer-cv" style="color:darkgreen">Webdeveloper-JakubRynio</h5>
                        <svg xmlns="http://www.w3.org/2000/svg"style="color:#959799;" width="24" height="24" fill="currentColor" class="bi bi-file-person-fill ms-3" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11"/>
                        </svg>
                    </a> 
                </article>
            </div>
        </div>
    </section>
</div>
{% endblock %}
